fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-chroma
chromadb
langchain-postgres
psycopg2-binary
enkryptai-sdk==1.0.28
beautifulsoup4
clerk-backend-api==1.0.0
httpx==0.27.2
python-dateutil==2.8.2
python-dotenv
pytest
tabulate
langchain-huggingface
sentence-transformers
